body {
    background-color: grey;
}

h1 {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    width: 400px;
    height: 60px;
    margin-top: 300px;
    margin-left: 550px;
    margin-right: 300px;
    margin-bottom: 0px;
}

.navbar {
    background-color: white;
    width: 400px;
    margin-left: 550px;
    margin-top: 0px;
}

li a {
    color: grey;
}

.container {
    background-color: white;
    width: 600px;
    height: 600px;
}

h2 {
    color: teal;
    background-color: white;
    margin-left: 400px;
}

.picture1 {
    width: 100px;
    height: 100px;
}

.picture2 {
    width: 100px;
    height: 100px;
}

.picture3 {
    width: 100px;
    height: 100px;
}


